### Name : Paras Karki
### Group : 6
### Student Id: 2050210

## Entropy and Information Gain

In [13]:
# import necessary librariees.
import pandas as pd
import numpy as np

<b>Read the dataset

In [14]:
path = ('samplecar.csv')
df = pd.read_csv(path)

In [15]:
# Display head of dataset
df.head()

    Type Price  Buy
0    SUV     H   No
1     HB     H   No
2     HB     H  Yes
3     HB     L   No
4  SEDAN     H  Yes

In [16]:
# describe() function is used for calculating some statistical data.
df.describe()

       Type Price  Buy
count    10    10   10
unique    3     3    2
top      HB     H  Yes
freq      4     5    6

In [17]:
# Give unique values in a column.
df.Type.unique()

array(['SUV', 'HB', 'SEDAN'], dtype=object)

In [18]:
df.Price.unique()

array(['H', 'L', 'Hot'], dtype=object)

In [19]:
df.Buy.unique()

array(['No', 'Yes'], dtype=object)

In [20]:
# Formula of entropy
#information_content
def calEntropy(totalLen,totalLenA,totalLenB):
    pobA = totalLenA/totalLen
    pobB = totalLenB/totalLen
    ent = -pobA * np.log2(pobA) - pobB*np.log2(pobB)
    return ent

### Calculate Entropy of features

<b>Entropy of type with target buy

In [21]:
tot = len(df)
tot_n = len(df[df['Buy']=="No"])
tot_y = len(df[df['Buy']=="Yes"])
prob_y = tot_y/tot
prob_n = tot_n/tot
print(prob_y, prob_n)
H_tot = -prob_y * np.log2(prob_y) - prob_n * np.log2(prob_n)
print(H_tot)

0.6 0.4
0.9709505944546686

In [ ]:
def calEntropy(totalLen,totalLenA,totalLenB):
    pobA = totalLenA/totalLen
    pobB = totalLenB/totalLen
    ent = -pobA * np.log2(pobA) - pobB*np.log2(pobB)
    return ent

<b> entropy of  type = 'SUV'

In [ ]:
suv = df[df['Type']=='SUV']
suv_len = len(suv)
print("total len of suv= ",suv_len)
suv_and_yes = len(suv[suv['Buy']=='Yes'])
print("total len of suv and yes= ",suv_and_yes)
suv_and_no = len(suv[suv['Buy']=='No'])
print("total len of suv and no=",suv_and_no)
ent_suv = calEntropy(suv_len,suv_and_yes,suv_and_no)
print("entropy of suv = ",ent_suv)

total len of suv=  3
total len of suv and yes=  1
total len of suv and no= 2
entropy of suv =  0.9182958340544896

<b> entropy of type = 'HB'

In [ ]:
hb = df[df['Type']=='HB']
hb_len = len(hb)
print("total len of hb= ",hb_len)
hb_and_yes = len(hb[hb['Buy']=='Yes'])
print("total len of hb and yes",hb_and_yes)
hb_and_no = len(hb[hb['Buy']=='No'])
print("total len of hb and no",hb_and_no)
ent_hb = calEntropy(hb_len,hb_and_yes,hb_and_no)
print("entropy of HB = ",ent_hb)

total len of hb=  4
total len of hb and yes 2
total len of hb and no 2
entropy of HB =  1.0

<b> entropy of type = 'SEDAN'

In [ ]:
sedan = df[df['Type']=='SEDAN']
sedan_len = len(sedan)
print("total len of sedan= ",sedan_len)
sedan_and_yes = len(sedan[sedan['Buy']=='Yes'])
print("total len of sedan and yes= ",sedan_and_yes)
sedan_and_no = len(sedan[sedan['Buy']=='No'])
print("total len of sedan and no= ",sedan_and_no)
ent_sedan = calEntropy(sedan_len,sedan_and_yes,sedan_and_no)
print("entropy of HB = ",ent_sedan)

total len of sedan=  3
total len of sedan and yes=  3
total len of sedan and no=  0
entropy of HB =  nan

<ipython-input-7-b88298e3847d>:4: RuntimeWarning: divide by zero encountered in log2
  ent = -pobA * np.log2(pobA) - pobB*np.log2(pobB)
<ipython-input-7-b88298e3847d>:4: RuntimeWarning: invalid value encountered in double_scalars
  ent = -pobA * np.log2(pobA) - pobB*np.log2(pobB)

Since, there is only one flavor the entropy will be 0 and the information gain will be 100%
Here, we can see that

In [24]:
Overall_entropy = (3/10)*0.9182958340544896 + (4/10)*1 + (3/10)*0
print(Overall_entropy)

0.6754887502163469

In [27]:
Information_gain =  0.9709505944546686-0.6754887502163469 
print(Information_gain)

0.29546184423832167

<b>Entropy of Price with target buy

### entropy of price = 'H'

In [ ]:
h = df[df['Price']=='H']
h_len = len(h)
print("total len of h= ",h_len)
h_and_yes = len(h[h['Buy']=='Yes'])
print("total len of h and yes= ",h_and_yes)
h_and_no = len(h[h['Buy']=='No'])
print("total len of h and no= ",h_and_no)
ent_h = calEntropy(h_len,h_and_yes,h_and_no)
print("entropy of h = ",ent_h)

total len of h=  5
total len of h and yes=  3
total len of h and no=  2
entropy of h =  0.9709505944546686

### entropy of price='L'

In [ ]:
l = df[df['Price']=='L']
l_len = len(l)
print("total len of L= ", l_len)
l_and_yes = len(l[l['Buy']=='Yes'])
print("total len of L and Yes= ",l_and_yes)
l_and_no = len(l[l['Buy']=='No'])
print("total len of L and No= ",l_and_no)
ent_l = calEntropy(l_len,l_and_yes,l_and_no)
print("entropy of l = ",ent_l)

total len of L=  4
total len of L and Yes=  2
total len of L and No=  2
entropy of l =  1.0

### entropy of price='Hot'

In [ ]:
hot = df[df['Price']=='Hot']
hot_len = len(hot)
print("total len of Hot= ", hot_len)
hot_and_yes = len(hot[hot['Buy']=='Yes'])
print("total len of Hot and Yes= ",hot_and_yes)
hot_and_no = len(hot[hot['Buy']=='No'])
print("total len of Hot and No= ",hot_and_no)
ent_hot = calEntropy(hot_len,hot_and_yes,hot_and_no)
print("entropy of hot = ",ent_hot)

total len of Hot=  1
total len of Hot and Yes=  1
total len of Hot and No=  0
entropy of hot =  nan

<ipython-input-7-b88298e3847d>:4: RuntimeWarning: divide by zero encountered in log2
  ent = -pobA * np.log2(pobA) - pobB*np.log2(pobB)
<ipython-input-7-b88298e3847d>:4: RuntimeWarning: invalid value encountered in double_scalars
  ent = -pobA * np.log2(pobA) - pobB*np.log2(pobB)

Since, there is only one type the entropy will be 0 and the information gain will be 100%

In [29]:
Entropy_price = (5/10)*0.9709505944546686 +(4/10)*1 + (1/10)*0

In [32]:
infoGain2 = 0.9709505944546686 - Entropy_price
print(infoGain2)

0.08547529722733427

## Conclusion

Therefore, the information gain of feature Type is highter than with Price.